body {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

/* LINKS HOVER */
a:hover, .ticket_title:hover, .link_menu:hover, #mentions_legales:hover, .social_network_link:hover, .link_insert_ticket:hover, #registration_link a:hover, #connexion_link a:hover, #pseudo_show_reports:hover, #pseudo_addReport:hover {
	color: #31CCE5;
	text-decoration: none;
}

#double_arrows a:hover, #link_show_ticket a:hover, #report_valid a:hover {
	color: #31CCE5;
}



img {
	max-width: 100%;
}

input {
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
}

input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}



/* INDEX */

#header_index {
	background-image: url("../images/alaska.jpg");
	background-size: cover;
}

#background_header_index {
	color: #FFF;
	height: 800px;
	background-color: rgba(19, 107, 183, 0.5);
}

.link_index, .link_menu, .link_insert_ticket {
	color: #FFF;
}

#titleIndex, .title_form, #double_arrows, #ancre, .img_jean {
	display: flex;
	justify-content: center;
}

#titleIndex {
	margin-top: 0;
	padding-top: 25%;
	font-size: 3em;
	text-align: center;
	text-shadow: 2px 2px #000;
}

.title_form {
	color: #000;
}

#double_arrows {
	font-size: 3em;
	margin-top: 15%;
}

#ancre {
	margin-bottom: 20px;
}

.p_ancre {
	margin: 20px;
	text-align: justify;
}



/* BOOK */

#button_create {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 70px;
	right: 20px;
}

.tickets, #ticket_book {
	margin: auto;
}

.tickets {
	border: 1px #000 solid;
	width: 70%;
	margin-top: 10%;
	padding-left: 20px;
	padding-right: 20px;
}

.ticket_title {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	color: #000;
}

#ticket_book {
	width: 80%;
}

.modification_date_book, .link_ticket_admin, .date_ticket_show {
	font-style: italic;
	font-size: 0.8em;
}

.modification_date_book {
	text-align: right;
}

.link_ticket_admin a {
	margin-left: 20px;
	font-style: normal;
	width: 7%;
	padding: 1px;
}

#btn_modify_book, #btn_remove_book {
	width: 9%;
}



/* MENU */

#mobile_menu {
	display: none;
}

.nav_pages {
	background-color: rgba(19, 107, 183, 0.9);
	height: 50px;
}

.main_nav, .nav_pages {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#nav_ul {
	display: flex;
	justify-content: center;
	margin-top: 0;
}

.main_menu {
	list-style: none;
	padding: 15px;
	text-align: center;
	text-shadow: 1px 1px #000;
}



/* FOOTER */

footer {
	background-color: rgba(19, 107, 183, 0.9);
	color: #FFF;
	padding-top: 20px;
}

footer h5 {
	text-align: center;
}

.social_network_link, #mentions_legales {
	color: #FFF;
	margin-top: 10px;
}

.social_network_link {
	font-size: 3em;
	padding-right: 30px;
}

#mentions_legales {
	margin-bottom: 10px;
}

.block_social_network_link, #mentions_legales {
	display: flex;
	justify-content: center;
}

.block_social_network_link {
	margin-left: 35px;
}

#footer_contact {
	margin-left: 50px;
}

.a_propos_index {
	font-size: 0.8em;
}



/* INSERT TICKET */

.link_insert_ticket {
	color: rgba(19, 107, 183, 0.9);
}

#title_insert_ticket {
	width: 100%;
	height: 50px;
	font-size: 2.5em;
}

#content_insert_ticket {
	height: 600px;
}

#section_insert_ticket {
	width: 80%;
	margin: auto;
	margin-top: 70px;
}

#form_insert_ticket {
	text-align: center;
}



/* INFO USER */

#h2_infoUser {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#delete_user {
	color: #ED1D1D;
}

#passwordForm {
	margin-left: 55%;
	width: 100%;
}

#passwordForm div {
	padding-bottom: 5px;
}

#info_user {
	width: 95%;
	margin-top: 110px;
}

#submit_change_password {
	margin-top: 10px;
}

.glyphicon-remove {
	color: #FF0004;
}



/* CONNEXION */

#connexion_form {
	visibility: hidden;
	margin-top: 70px;
}

#registration_link, #connexion_link {
	display: flex;
	justify-content: center;
	width: 220px;
}

#registration_link a, #connexion_link a {
	color: #000;
}

.closebtn_form:hover {
	text-decoration: none;
}



/* REGISTRATION */

.form_col {
	display: inline-block;
	margin-right: 15px;
	padding: 3px 0;
	width: 200px;
	min-height: 1px;
	text-align: right;
}




/* COMMENT FORM */

#btn_delete_comment_ticket:hover {
	background-color: #1F85DE;
	color: #FFF;
}



/* SHOW TICKET */

#link_show_ticket a {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 70px;
	color: rgba(19, 107, 183, 0.9);
}

#show_ticket {
	border: 1px #000 solid;
	width: 80%;
	margin: auto;
	padding: 10px;
}

#show_ticket h1 {
	display: flex;
	justify-content: center;
}

.date_ticket_show {
	align-self: flex-start;
	margin-left: 10px;
}

#h2_show_ticket {
	margin-top: 100px;
	margin-bottom: 30px;
}

#form_show_ticket {
	margin-top: 50px;
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 80%;
}

.input_form_comment {
	height: 30px;
	border: 1px #9A9EA2 solid;
	font-size: 18.4px;
}

.textarea_form_comment, .input_form_comment {
	border-radius: 5px;
	width: 200%;
}

.textarea_form_comment {
	height: 300px;
}

#btn_send_comment {
	margin-left: 42%;
}

.float-left {
	color: rgb(19, 107, 183);
}

.btn-outline-primary {
	border: 1px #2891ED solid;
}




/* REPORT */

#comment_of_report {
	margin-top: 70px;
}

#form_report, #form_report form {
	display: flex;
	flex-direction: column;
}

#form_report {
	margin-top: 30px;
	align-items: center;
}

#form_report form {
	margin-top: 20px;
	font-size: 1.2em;
}

.input_pseudo_report {
	width: 100%;
	height: 30px;
}

#form_report .btn-primary {
	width: 20%;
	margin: auto;
}

#form_report p {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 0.7em;
}




/* REPORT FORM */

#form_report textarea, .input_pseudo_report,  #submit_report_form {
	border-radius: 5px;
}



/* REPORT VALID */

#report_valid {
	margin-top: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#report_valid a {
	color: rgba(19, 107, 183, 0.9);
	text-decoration: none;
}



/* SHOW REPORTS */

#section_show_reports {
	margin-top: 70px;
}

.p_count_showReports {
	margin-left: 20px;
}

#h5_showReports {
	width: 100%;
	display: flex;
	justify-content: center;
    font-size: 1em;
}

#btn_delete_show_reports, #btn_show_com_show_reports {
	border: 1px #1F85DE solid;
	font-size: 0.8em;
}

#btn_delete_show_reports:hover, #btn_show_com_show_reports:hover {
	color: #FFF;
	background-color: #1F85DE;
}




/* FORM */

#registration_form {
	visibility: hidden;
	position: fixed;
	left: 12%;
    top: 5%;
	bottom: 100px;
	z-index: 2;
}

#nav_show_ticket #registration_form form, #nav_show_ticket #connexion_form form {
	width: 200px;
}

.form-group {
	margin-bottom: 15px;
}

.main-login {
	background-color: #fff;
	border: 1px #7D8082 solid;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

}

.main-center {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 330px;
	padding: 40px 40px;
}

.login-button {
	margin-top: 3px;
}

#closebtn {
	color: #000;
	font-size: 2em;
	display: flex;
	justify-content: flex-end;
}

#incorrect_login, #incorrect_password, #incorrect_confirm_password, #incorrect_email, #incorrect_connexion, #incorrect_login_connexion, #incorrect_password_connexion {
	color: red;
	font-size: 0.8em;
	display: none;
	justify-content: center;
	text-align: center;
}



/* LEGAL NOTICES */

#legal_notice {
	margin: 70px 3% 20px 3%;
}

.text_center {
	text-align: center;
}

.text_justify {
	text-align: justify;
}

#legal_notice span {
	background-color: #D3D3D3;
}

.span_color {
	color: #FF0000;
}




/* MEDIA QUERIES */

@media screen and (max-width: 1260px) {
	/* INDEX */

	#titleIndex {
		padding-top: 30%;
	}

	#double_arrows {
		margin-top: 20%;
	}


	/* BOOK */

	#btn_modify_book, #btn_remove_book {
		width: 12%;
	}


	/* FOOTER */

	#footer_contact {
		margin-left: 0;
	}


	/* SHOW TICKET */

	#btn_send_comment {
		margin-left: 50%;
	}
}


@media screen and (max-width: 991px) {
	/*INDEX */

	#titleIndex {
		padding-top: 35%;
	}

	#double_arrows {
		margin-top: 30%;
	}


	/* BOOK */

	#btn_modify_book, #btn_remove_book {
		width: 14%;
	}


    /* SHOW TICKET */

    #form_show_ticket {
        width: 60%;
    }

	#btn_send_comment {
		margin-left: 80%;
	}


	/* INFO USER */

	#passwordForm {
		margin-left: initial;
	}
}


@media screen and (max-width: 767px) {
	img {
		max-width: 90%;
		max-height: 350px;
	}

	/* INDEX */

	#background_header_index {
		height: 500px;
	}

	#titleIndex {
		padding: 10px;
		padding-top: 35%;
	}

	#double_arrows {
		visibility: hidden;
	}


	/* BOOK */

	.ticket_title, #show_ticket h1 {
		text-align: center;
	}

	.tickets {
		margin-top: 100px;
		width: 98%;
	}

	#button_create {
		justify-content: center;
		right: 0;
	}

	#btn_modify_book, #btn_remove_book {
		width: 40%;
		font-size: 1em;
		margin-top: 10px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.link_ticket_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}


	/* MENU */

	#mobile_menu {
		display: flex;
		font-size: 2em;
		margin-top: 10px;
		color: #FFF;
	}

	#mobile_menu i {
		cursor: pointer;
	}

	#nav_ul {
		visibility: hidden;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 5px;
		width: 50%;
		margin-left: 10px;
		background-color: rgba(0, 0, 0, 0.8);
        font-size: 0.8em;
	}

	.main_menu {
		padding-left: 0;
		text-align: left;
	}


	/* FORM */

	#connexion_form, #registration_form {
		width: 90%;
		font-size: 0.9em;
		position: absolute;
		left: 5%;
	}

	#connexion_form {
		top: 0;
	}

	#registration_form .form-group {
		height: 60px;
	}

	#connexion_form input, #registration_form input {
		font-size: 0.9em;
	}

	.title_form {
		font-size: 1.7em;
	}



	/* SHOW TICKET */

	#form_show_ticket {
		width: 65%;
	}

	#show_ticket {
		width: 98%;
	}

    .textarea_form_comment, .input_form_comment {
        width: 150%;
        margin-left: 0;
    }

	#btn_send_comment {
		margin-left: 40%;
	}



	/* COMMENT FORM */

	.presentation_comment_form, .add_report_presentation, .info_user_presentation {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.presentation_comment_form img, #comment_of_report img, .info_user_presentation img {
		width: 50%;
	}

	.btn_comment_ticket {
		font-size: 0.8em;
	}




	/* REPORT FORM / REPORT VALID / SHOW REPORTS */

	#form_report textarea, .input_pseudo_report,  #submit_report_form, #report_valid {
		width: 90%;
		margin-left: 5%;
	}

    #form_report textarea, .input_pseudo_report {
        font-size: 0.8em;
    }

	#form_report p {
		text-align: center;
        margin-inline: 2%;
	}

    #form_report h3 {
        text-align: center;
    }

    #submit_report_form {
        font-size: 0.6em;
    }

    #report_valid, #h5_showReports {
        text-align: center;
    }

    #h5_showReports {
        margin-left: 5%;
    }

    .btn_show_reports {
        font-size: 0.7em;
        margin-bottom: 5px;
    }

	

	/* INFO USER */

	#info_user {
		font-size: 0.9em;
	}

	.info_user_presentation {
		display: block;
	}

    #info_user_btn_delete_user {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

	#h2_infoUser {
		font-size: 1.5em;
	}

	#submit_change_password, #password_infoUser, #confirm_password_infoUser {
		font-size: 0.9em;
		width: 100%;
	}

	#passwordForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}

	.span_info_user {
		display: flex;
		margin-top: 10px;
		font-size: 0.9em;
	}

	#ucase {
		margin-left: 10px;
	}

	#num {
		margin-left: 17px;
	}



	/* LEGAL NOTICE */

	#legal_notice {
		margin: 10px;
		margin-top: 70px;
	}
}


@media screen and (max-height: 479px) {

	/* FORM */
	#registration_form label, #connexion_form label {
		visibility: hidden;
	}

	#registration_link, #connexion_link, .presentation_forms_paysage span, #connexion_form input, #registration_form input, #incorrect_confirm_password, #incorrect_email, #incorrect_login, #incorrect_password, #registration_form .presentation_forms_paysage, #connexion_form .presentation_forms_paysage, #connexion_form .closebtn_form, #registration_form .closebtn_form, #connexion_form h2, #registration_form h2, #connexion_form input, #registration_form input {
		position: relative;
	}

	#registration_link {
		bottom: 210px;
		right: 80px;
	}

	#connexion_link {
		bottom: 320px;
		right: 80px;
	}

	.presentation_forms_paysage span, #connexion_form input, #registration_form input, #incorrect_confirm_password, #incorrect_email, #incorrect_login, #incorrect_password {
		bottom: 100px;
		left: 120px;
	}

	#incorrect_confirm_password, #incorrect_email, #incorrect_login, #incorrect_password {
		bottom: 130px;
		font-size: 0.6em;
		max-width: 150px;
	}

	#registration_form input, #registration_form span {
		bottom: 130px;
	}

	#registration_form .presentation_forms_paysage {
		height: 350px;
		bottom: 40px;
		right: 50px;
	}

	#connexion_form .presentation_forms_paysage {
		height: 250px;
		bottom: 60px;
		right: 50px;
	}

	#incorrect_connexion {
		position: absolute;
		top: 160px;
		left: 48%;
		font-size: 0.7em;
	}

	#connexion_form .closebtn_form {
		bottom: 30px;
		right: 230px;
	}

	#registration_form .closebtn_form {
		bottom: 40px;
		right: 230px;
	}

	#connexion_form h2, #registration_form h2 {
		right: 80px;
	}

	#registration_form h2 {
		top: 50px;
	}

	#connexion_form input, #registration_form input {
		width: 50%;
		left: 120px;
	}

	#registration_form {
		bottom: 100px;
	}

	#tag_connexion_submit {
		margin-top: 20px;
	}
}

@media screen and (max-height: 300px) {
	/* FORM */

	#registration_form .presentation_forms_paysage, #connexion_form .presentation_forms_paysage {
		width: 290px;
		height: 220px;
		font-size: 0.8em;
		position: fixed;
		bottom: 0;
		right: 80px;
	}

	#registration_form h2 {
		position: fixed;
		top: 20px;
		right: 260px;
	}

	#registration_form input, #registration_form span, #incorrect_password, #incorrect_login, #incorrect_email, #incorrect_confirm_password {
		bottom: 70px;
	}

	#connexion_link {
		bottom: 380px;
	}

	#email_registration {
		position: relative;
		bottom: 150px;
		right: 130px;
		width: 180px;
	}

	#submit_registration {
		position: relative;
		bottom: 130px;
		right: 130px;
	}

	#incorrect_connexion {
		top: 150px;
	}
}