body {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #31CCE5;
	text-decoration: none;
}

img {
	max-width: 100%;
}


/* INDEX */

#header_index {
	background-image: url("../images/alaska.jpg");
	background-size: cover;
}

#background_header_index {
	color: #FFF;
	height: 800px;
	background-color: rgba(19, 107, 183, 0.5);
}

.link_index, .link_menu, .link_insert_ticket {
	color: #FFF;
}

#titleIndex, .title_form {
	display: flex;
	justify-content: center;
}

#titleIndex {
	margin-top: 0px;
	padding-top: 25%;
	font-size: 3em;
	text-align: center;
	text-shadow: 2px 2px #000;
}

.title_form {
	color: #000;
}

#double_arrows {
	font-size: 3em;
	display: flex;
	justify-content: center;
	margin-top: 15%;
}

#double_arrows a:hover {
	color: #31CCE5;
}

#ancre {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.p_ancre {
	margin: 20px;
	text-align: justify;
}

.img_jean {
	display: flex;
	justify-content: center;
}



/* BOOK */

#button_create {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 70px;
	right: 20px;
}

.tickets {
	border: 1px #000 solid;
	width: 70%;
	margin: auto;
	margin-top: 10%;
	padding-left: 20px;
	padding-right: 20px;
}

.ticket_title {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	color: #000;
}

.ticket_title:hover {
	color: #31CCE5;
	text-decoration: none;
}

#ticket_book {
	width: 80%;
	margin: auto;
}

.modification_date_book, .link_ticket_admin, .date_ticket_show {
	font-style: italic;
	font-size: 0.8em;
}

.modification_date_book {
	text-align: right;
}

.link_ticket_admin a {
	margin-left: 20px;
	font-style: normal;
	width: 7%;
	padding: 1px;
}

#btn_modify_book, #btn_remove_book {
	width: 9%;
}



/* MENU */

#mobile_menu {
	display: none;
}

.nav_pages {
	background-color: rgba(19, 107, 183, 0.9);
	height: 50px;
}

.main_nav, .nav_pages {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#nav_ul {
	display: flex;
	justify-content: center;
	margin-top: 0;
}

.link_menu:hover {
	color: #31CCE5;
	text-decoration: none;
}

.main_menu {
	list-style: none;
	padding: 15px;
	text-align: center;
	font-family: "arial";
	text-shadow: 1px 1px #000;
}



/* FOOTER */

footer {
	background-color: rgba(19, 107, 183, 0.9);
	color: #FFF;
	padding-top: 20px;
}

footer h5 {
	text-align: center;
}

.social_network_link {
	font-size: 3em;
	color: #FFF;
	padding-right: 30px;
	margin-top: 10px;
}

#mentions_legales {
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mentions_legales:hover, .social_network_link:hover {
	color: #31CCE5;
	text-decoration: none;
}

.block_social_network_link, #mentions_legales {
	display: flex;
	justify-content: center;
}

.block_social_network_link {
	margin-left: 35px;
}

#footer_contact {
	margin-left: 50px;
}

.a_propos_index {
	font-size: 0.8em;
}



/* INSERT TICKET */

.link_insert_ticket {
	color: rgba(19, 107, 183, 0.9);
}

.link_insert_ticket:hover {
	color: #31CCE5;
	text-decoration: none;
}

#title_insert_ticket {
	width: 100%;
	height: 50px;
	font-size: 30px;
}

#content_insert_ticket {
	height: 600px;
}

#section_insert_ticket {
	width: 80%;
	margin: auto;
	margin-top: 70px;
}

#form_insert_ticket {
	text-align: center;
}




/* INFO USER */

#h2_infoUser {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#delete_user {
	color: #ED1D1D;
}

#passwordForm div {
	padding-bottom: 5px;
}

#info_user {
	width: 95%;
	margin-top: 110px;
}

#submit_change_password {
	margin-top: 10px;
}

.glyphicon-remove {
	color: #FF0004;
}


/* CONNEXION */

#connexion_form {
	visibility: hidden;
	margin-top: 100px;
}

#registration_link, #connexion_link {
	display: flex;
	justify-content: center;
	width: 220px;
}

#registration_link a, #connexion_link a {
	color: #000;
}

#registration_link a:hover, #connexion_link a:hover {
	color: #31CCE5;
	text-decoration: none;
}

.closebtn_form:hover {
	text-decoration: none;
}


/* REGISTRATION */

.form_col {
	display: inline-block;
	margin-right: 15px;
	padding: 3px 0px;
	width: 200px;
	min-height: 1px;
	text-align: right;
}

input {
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
	outline: none;
}

input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
	border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
	display: inline-block;
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #555;
	background-color: #CCC;
	border-radius: 4px;
}

#tooltip_pseudo {
	display: block;
}


/* COMMENT FORM */


#btn_delete_comment_ticket:hover {
	background-color: #1F85DE;
	color: #FFF;
}




/* SHOW TICKET */

#link_show_ticket a {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 70px;
	color: rgba(19, 107, 183, 0.9);
}

#link_show_ticket a:hover {
	color: #31CCE5;
}

#show_ticket {
	border: 1px #000 solid;
	width: 80%;
	margin: auto;
	padding: 10px;
}

#show_ticket h1 {
	display: flex;
	justify-content: center;
}

.date_ticket_show {
	align-self: flex-start;
	margin-left: 10px;
}

#h2_show_ticket {
	margin-top: 100px;
	margin-bottom: 30px;
}

#form_show_ticket {
	margin-top: 50px;
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 80%;
}

.input_form_comment {
	height: 30px;
	border: 1px #9A9EA2 solid;
	font-size: 1.5em;
}

.textarea_form_comment, .input_form_comment {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 200%;
}

.textarea_form_comment {
	height: 300px;
}

#btn_send_comment {
	margin-left: 42%;
}

.float-left {
	color: rgb(19, 107, 183);
}


.btn-outline-primary {
	border: 1px #2891ED solid;
}



/* REPORT */

#comment_of_report {
	margin-top: 70px;
}

#form_report {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form_report form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	font-size: 1.2em;
}

.input_pseudo_report {
	width: 100%;
	height: 30px;
}

#form_report .btn-primary {
	width: 20%;
	margin: auto;
}

#form_report p {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 0.7em;
}


/* REPORT FORM */

#form_report textarea, .input_pseudo_report,  #submit_report_form{
	border-radius: 5px;
	font-size: 1em;
}


/* REPORT VALID */

#report_valid {
	margin-top: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#report_valid a {
	color: rgba(19, 107, 183, 0.9);
	text-decoration: none;
}

#report_valid a:hover {
	color: #31CCE5;
}


/* SHOW REPORTS */

#section_show_reports {
	margin-top: 70px;
}

.p_count_showReports {
	margin-left: 20px;
}

#h5_showReports {
	width: 100%;
	display: flex;
	justify-content: center;
    font-size: 1em;
}

#btn_delete_show_reports, #btn_show_com_show_reports {
	border: 1px #1F85DE solid;
	font-size: 0.8em;
}

#btn_delete_show_reports:hover, #btn_show_com_show_reports:hover {
	color: #FFF;
	background-color: #1F85DE;
}





/* FORM */

#registration_form {
	visibility: hidden;
	position: fixed;
	left: 11%;
    top: 10%;
	z-index: 2;
}

#nav_show_ticket #registration_form {
	left: 12%;
}

#nav_show_ticket #registration_form form, #nav_show_ticket #connexion_form form {
	width: 200px;
}

#registration_form {
	bottom: 100px;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 14px;
}

input,
input::-webkit-input-placeholder {
	font-size: 9px;
	padding-top: 3px;
}

.main-login{
	background-color: #fff;
	border: 1px #7D8082 solid;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

}

.main-center{
	margin-top: 30px;
	margin: 0 auto;
	max-width: 330px;
	padding: 40px 40px;
}

.login-button{
	margin-top: 3px;
}

.login-register{
	font-size: 8px;
	text-align: center;
}

#closebtn {
	color: #000;
	font-size: 2em;
	display: flex;
	justify-content: flex-end;
}

#incorrect_login, #incorrect_password, #incorrect_confirm_password, #incorrect_email, #incorrect_connexion, #incorrect_login_connexion, #incorrect_password_connexion {
	color: red;
	font-size: 0.8em;
	display: none;
	justify-content: center;
	text-align: center;
}


/* LEGAL NOTICES */

#legal_notice {
	margin-top: 70px;
	margin-inline: 3%;
}

.text_center {
	text-align: center;
}

.text_justify {
	text-align: justify;
}

#legal_notice span {
	background-color: #D3D3D3;
}

.span_color {
	color: #FF0000;
}




/* MEDIA QUERIES */

@media screen and (max-width: 1260px) {
	/* INDEX */

	#titleIndex {
		padding-top: 30%;
	}


	/* BOOK */

	#btn_modify_book, #btn_remove_book {
		width: 12%;
	}


	/* FOOTER */

	#footer_contact {
		margin-left: 0;
	}


	/* SHOW TICKET */

	#btn_send_comment {
		margin-left: 50%;
	}
}


@media screen and (max-width: 991px) {
	/*INDEX */

	#titleIndex {
		padding-top: 45%;
	}


	/* BOOK */

	#btn_modify_book, #btn_remove_book {
		width: 14%;
	}


    /* SHOW TICKET */

    #form_show_ticket {
        width: 90%;
    }
}


@media screen and (max-width: 767px) {
	img {
		max-width: 90%;
		max-height: 350px;
	}

	/* INDEX */

	#background_header_index {
		height: 500px;
	}

	#titleIndex {
		padding: 10px;
		padding-top: 35%;
	}

	#double_arrows {
		visibility: hidden;
	}


	/* BOOK */

	.ticket_title, #show_ticket h1 {
		text-align: center;
	}

	.tickets {
		margin-top: 100px;
		width: 98%;
	}

	#button_create {
		justify-content: center;
		right: 0;
	}

	#btn_modify_book, #btn_remove_book {
		width: 40%;
		font-size: 1em;
		margin-top: 10px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.link_ticket_admin {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}


	/* MENU */

	#mobile_menu {
		display: flex;
		font-size: 2em;
		margin-top: 10px;
		color: #FFF;
	}

	#mobile_menu i {
		cursor: pointer;
	}

	#nav_ul {
		visibility: hidden;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 5px;
		width: 50%;
		margin-left: 10px;
		background-color: rgba(0, 0, 0, 0.8);
        font-size: 0.8em;
	}

	.main_menu {
		padding-left: 0;
		text-align: left;
	}


	/* FORM */

	#connexion_form {
		width: 90%;
		margin-left: 5%;
		font-size: 0.9em;
	}

	#connexion_form input, #registration_form input {
		font-size: 0.9em;
	}

	.title_form {
		font-size: 1.7em;
	}

	#registration_form {
		position: absolute;
		top: 200px;
		left: 5%;
		width: 90%;
		font-size: 0.9em;
	}


	/* SHOW TICKET */

	#show_ticket {
		width: 98%;
	}

    .textarea_form_comment, .input_form_comment {
        width: 150%;
        margin-left: 0;
    }

	#btn_send_comment {
		margin-left: 40%;
	}



	/* COMMENT FORM */

	.test2, .add_report_presentation, .info_user_presentation {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.test2 img, #comment_of_report img, .info_user_presentation img {
		width: 50%;
	}

	.btn_comment_ticket {
		font-size: 0.8em;
	}




	/* REPORT FORM */

	#form_report textarea, .input_pseudo_report,  #submit_report_form{
		width: 90%;
		margin-left: 5%;
	}

    #form_report textarea, .input_pseudo_report {
        font-size: 0.8em;
    }

	#form_report p {
		text-align: center;
        margin-inline: 2%;
	}

    #form_report h3 {
        text-align: center;
    }

    #submit_report_form {
        font-size: 0.6em;
    }


    /* REPORT VALID */

    #report_valid {
        text-align: center;
		width: 90%;
		margin-left: 5%;
    }


    /* SHOW REPORTS */

    #h5_showReports {
        margin-left: 5%;
        text-align: center;
    }

    .btn_show_reports {
        font-size: 0.7em;
        margin-bottom: 5px;
    }


	/* INFO USER */

	#info_user {
		font-size: 0.9em;
	}

    #info_user_btn_delete_user {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

	#h2_infoUser {
		font-size: 1.5em;
	}

	#submit_change_password, #password_infoUser, #confirm_password_infoUser {
		font-size: 0.9em;
		width: 70%;
	}

	#passwordForm {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.test {
		display: flex;
		margin-top: 10px;
		font-size: 0.9em;
	}

	#ucase {
		margin-left: 10px;
	}

	#num {
		margin-left: 17px;
	}
}