body {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #31CCE5;
	text-decoration: none;
}


/* INDEX */

#header_index {
	background-image: url("../images/alaska.jpg");
	background-size: cover;
}

#background_header_index {
	color: #FFF;
	height: 800px;
	background-color: rgba(19, 107, 183, 0.5);
}

.link_index, .link_menu {
	color: #FFF;
}

#titleIndex, h2 {
	display: flex;
	justify-content: center;
}

#titleIndex {
	margin-top: 0px;
	padding-top: 25%;
	font-size: 3em;
	text-align: center;
	text-shadow: 2px 2px #000;
}

h2 {
	color: #000;
}

#double_arrows {
	font-size: 3em;
	display: flex;
	justify-content: center;
	margin-top: 15%;
}

#ancre {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.p_ancre {
	margin: 20px;
	text-align: justify;
}

.img_jean {
	display: flex;
	justify-content: center;
}


/* BOOK */

#button_create {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 70px;
	right: 20px;
}

.tickets {
	border: 1px #000 solid;
	width: 70%;
	margin: auto;
	margin-top: 10%;
	padding-left: 20px;
	padding-right: 20px;
}

.ticket_title {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}


#ticket_book {
	width: 80%;
	margin: auto;
}

.modification_date_book, .link_ticket_admin, .date_ticket_show {
	font-style: italic;
	font-size: 0.8em;
}

.modification_date_book {
	text-align: right;
}

#btn_modify_book, #btn_remove_book {
	width: 9%;
	margin-left: 20px;
	font-style: normal;
	padding: 1px;
}



/* MENU */

.nav_pages {
	background-color: rgba(19, 107, 183, 0.9);
	height: 50px;
}

.main_nav, .nav_pages {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.nav_ul {
	display: flex;
	justify-content: center;
	margin-top: 0;
}

.main_menu {
	list-style: none;
	padding: 15px;
	text-align: center;
	font-family: "arial";
	text-shadow: 1px 1px #000;
}



/* FORM */

#registration_form, #connexion_form {
    visibility: hidden;
    position: fixed;
    left: 15%;
    z-index: 2;
}

#registration_form {
    bottom: 100px;
}

#connexion_form {
    bottom: 200px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	margin-bottom: 14px;
}

input, input::-webkit-input-placeholder {
    font-size: 9px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    border: 1px #7D8082 solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;
}

.login-button{
	margin-top: 3px;
}

.login-register{
	font-size: 8px;
	text-align: center;
}

#closebtn {
    color: #000;
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
}

#incorrect_login, #incorrect_password, #incorrect_confirm_password, #incorrect_email, #incorrect_connexion {
	color: red;
	font-size: 0.8em;
	display: none;
	justify-content: center;
	text-align: center;
}


/* FOOTER */

footer {
	background-color: rgba(19, 107, 183, 0.9);
	color: #FFF;
	padding-top: 20px;
	margin-top: 40px;
}

footer h5 {
	text-align: center;
}

.social_network_link {
	font-size: 3em;
	color: #FFF;
	padding-right: 30px;
	margin-top: 10px;
}

#mentions_legales {
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mentions_legales:hover, .social_network_link:hover {
	color: #31CCE5;
	text-decoration: none;
}

.block_social_network_link, #mentions_legales {
	display: flex;
	justify-content: center;
}

.block_social_network_link {
	margin-left: 35px;
}

#footer_contact {
	margin-left: 50px;
}


/* INSERT TICKET */

.link_insert_ticket {
	color: rgba(19, 107, 183, 0.9);
}

#title_insert_ticket {
	width: 100%;
	height: 50px;
	font-size: 30px;
}

#content_insert_ticket {
	height: 600px;
}

#section_insert_ticket {
	width: 80%;
	margin: auto;
	margin-top: 70px;
}

#form_insert_ticket {
	text-align: center;
}

#btn_modifier {
	font-size: 1.2em;
}



/* INFO USER */

#delete_user {
	color: #ED1D1D;
	display: flex;
	justify-content: flex-end;
	margin-top: 70px;
	margin-right: 20px;
}

.fas.fa-times {
	margin-top: 3px;
	margin-right: 3px;
}



/* CONNEXION */

#connexion_form {
	visibility: hidden;
	margin-top: 100px;
}

#registration_link, #connexion_link {
	display: flex;
	justify-content: center;
}



/* REGISTRATION */

.form_col {
	display: inline-block;
	margin-right: 15px;
	padding: 3px 0px;
	width: 200px;
	min-height: 1px;
	text-align: right;
}

input {
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
	outline: none;
}

input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
	border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
	display: inline-block;
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #555;
	background-color: #CCC;
	border-radius: 4px;
}



/* SHOW TICKET */

#nav_show_ticket {
	font-size: 0.9em;
}

#link_show_ticket a {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 70px;
	color: rgba(19, 107, 183, 0.9);
}

#link_show_ticket a:hover, #nav_show_ticket a:hover {
	color: #31CCE5;
	text-decoration: none;
}

#show_ticket {
	border: 1px #000 solid;
	width: 80%;
	margin: auto;
	padding: 10px;
}

#show_ticket h1 {
	display: flex;
	justify-content: center;
}

.date_ticket_show {
	align-self: flex-start;
	margin-left: 10px;
}

#h2_show_ticket {
	margin-top: 100px;
	margin-bottom: 30px;
}

#form_show_ticket {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input_form_comment {
	height: 30px;
	border: 1px #9A9EA2 solid;
	font-size: 1.5em;
}

.textarea_form_comment, .input_form_comment {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



/* REPORT */

#comment_of_report {
	margin-top: 70px;
	font-size: 1.4em;
}

#form_report {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form_report form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	font-size: 1.2em;
}

.input_pseudo_report {
	width: 100%;
	height: 30px;
}

#form_report .btn-primary {
	width: 20%;
	margin: auto;
}

#form_report p {
	margin-top: 20px;
	margin-bottom: 30px;
}

#nav_addReport, #nav_showReports {
	font-size: 1.4em;
}

#nav_addReport a:hover, #comment_of_report a:hover, #nav_showReports a:hover {
	color: #31CCE5;
	text-decoration: none;
}


/* REPORT VALID */

#report_valid {
	margin-top: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#report_valid a {
	color: rgba(19, 107, 183, 0.9);
}

#report_valid a:hover {
	color: #31CCE5;
}



/* SHOW REPORTS */

#section_show_reports {
	margin-top: 70px;
}

.p_count_showReports {
	margin-left: 20px;
}

#h5_showReports {
	width: 100%;
	display: flex;
	justify-content: center;
}